body{
    background-image: url(img/hatter.jpg);
    background-repeat: repeat;
    background-size: cover;
}
#jatekter{
    width: 100%;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    height: 40vw;
    
}
#balpanel{
    width: 30%;
    border: 1px solid black;
    height: 40vw;
    background-color: darkslategrey;
    
}
#kartyabox{
    border: 1px solid black;
    height: 20vw;
    background-image: url(img/asztal.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#pontokbox{
    background-image: url(img/goldcoins.jpg);
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
}
#tabla{
    width: 50%;
    border: 1px solid black;
    height: 40vw;
    display: flex;
    flex-direction: column;
    background-image: url(img/rpgforest.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#korokbox{
    width: 20%;
    border: 1px solid black;
    height: 40vw;
    /*background-color:darkslategrey;*/
    background-image: url(img/Giant_Tree.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.sordiv{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    height: 8vw;
}
.oszlopdiv{
    /*border: 3px solid darkgoldenrod;*/
    border: 3px solid black;
    border-radius: 5px;
    width: 16.6%;
    margin: 1vw;
}
.oszlopdiv img{
    border-radius: 5px;
}
#tabla img{
    width:  100%;
    height: 100%;
    object-fit: cover;
    
}
#kijelolve{
    border: 2px solid rgb(251, 255, 0);
}
#Kivalaszto{
    /*border: 1px solid white;*/
    margin-top: 5px;
    height: auto;
    background-color: rgb(119, 50, 3);
}
.MSordiv{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.MOszlopdiv{
    background-color: rgb(143, 61, 7);
    /*border: 1px solid red;*/
    width: 100%;
    height: 6vw;
    margin: 2px;
}
#Kivalaszto img{
    height: 6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Eltuntet img{
    visibility: hidden;
}
#Kartyaback{
    margin: 16.6%;
    margin-left: 36%;
    width: 25%;
    
    
    
}
#Bottomdiv{
    width: 80%;
    height: 7vw;
    margin: 1%;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    float: left;
    display: flex;
    flex-direction: row;
    background-image: url(img/lava.png)
}
#Bottomdiv div{
    display: flex;
    flex-direction: row;
    height: 5vw;
    width:  10%;
    margin: 1%;
    border-radius: 10%;
    background-color: lightgray;
    border: 2px solid black;
}
#Bottomdiv div img{
    width: 100%;
}
#Felhuzodiv{
    width: 10%;
    height: 7vw;
    margin: 1%;
    border: 2px solid black;
    background-color: #d3d3d3;
    border-radius: 5px;
    float: right;
    display: flex;
    flex-direction: row;
    
}

#Felhuzodiv img{
    width: 100%;
    
}

#korokbox img{
    width: 10vw;
    height: 10vw;
    margin: 7%
}

#ermekdiv img{
    
    width: 16%;
    height: 16%;
    margin-top: 25%;
}
#ermekdiv {
    position:inherit;
    font-size: 200%;
    color: white;
}
#div1kor ,#div2kor,#div3kor{
    border-radius: 20%;
    text-align: center;
    padding: 20%;
    border: solid black 3px;
    background-color: grey;
    margin: 10%;
    position: relative;
    font-size:200%;
}
#jatekvege
{
    border: solid black 3px;
    background-color: white;
    position: absolute;
    align-self:center;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
    border-radius: 10%;
    padding: 10%;
}
