body{
    background-color: black;
}
#jatekter{
    width: 100%;
    border: 3px solid darkgoldenrod;
    display: flex;
    flex-direction: row;
    height: 40vw;
    background-color: lightgoldenrodyellow;
}
#balpanel{
    width: 30%;
    border: 1px solid darkgoldenrod;
    height: 40vw;
    background-color: darkslategrey;
}
#kartyabox{
    border: 1px solid darkgoldenrod;
    height: 20vw;
}
#pontokbox{

    height: 20vw;
}
#tabla{
    width: 50%;
    border: 1px solid darkgoldenrod;
    height: 40vw;
    display: flex;
    flex-direction: column;
}
#korokbox{
    width: 20%;
    border: 1px solid darkgoldenrod;
    height: 40vw;
    background-color:darkkhaki;
}
.sordiv{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    height: 8vw;
}
.oszlopdiv{
    border: 2px solid darkgoldenrod;
    width: 16.6%;
    margin: 1vw;
}
#tabla img{
    width: 100%;
}